@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');

body {
    margin: 0;
    padding: 0;
    font-size: 16px; 
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;

}

/* Skip CSS */
a.skip {
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

a.skip:focus {
    top: 20px;
    color: black;
    text-decoration-style: solid;
}

*.focus {
    border: 2px solid black;
}

/* General CSS for Title & Text */
.page_title {
  text-align: center;
	font: 50px Lato, Sans-Serif;
	color: rgb(0, 45, 117); 
	letter-spacing: -5px;
    
}

.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.page_p {
    font-family: "Lato";
    font-size: 20px;
    text-align: center;
    padding: 2vh 7vh;

}

@media screen and (min-width: 1100px){

    .page_p {
        font-family: "Lato";
        font-size: 20px;
        margin-right: 350px;
        margin-left: 350px;
        padding: 50px;
        padding-bottom: 60px;
        text-align: center;
    }
}

/* Gallery CSS*/

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 4px;
    justify-content: center;
  }
  
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }


/*Card CSS*/

.center
{
  padding-top: 50px;
  height:400px;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.property_card
{
  height:18em;
  width:300px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  position:relative;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:16px;
  overflow:hidden;
  -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}

.property_image
{
  height:6em;
  width:100%;
  padding:1em 2em;
  position:Absolute;
  top:0px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-size:cover;
  background-position:left;
  background-repeat:no-repeat;
}

.card_h2
{
  font-family: "Lato";
  margin:20px;
  font-size:1.4em;
  font-weight:700;
}

.card_p
{
  font-family: "Lato";
  font-size:18px;
}

.property_description
{
  background-color: #FAFAFC;
  height:12em;
  width:90%;
  position:absolute;
  bottom:0em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align:center;
  flex-wrap: wrap;
}

.property_card:hover .property_description
{
  height:0em;
  padding:0px 1em;
}
.property_card:hover .property_image
{
  height:18em;
}

.property_card:hover
{
  background-color:white;
}

.property_card:hover
{
  background-color:blue;
  cursor:pointer;
}

/* Responsive CSS */

@media screen and (min-width: 600px) {

  header {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

  }

  #logo {
    height: 150px;
    width: auto;
    padding: 10px;
  }

  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

  .nav_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .nav_item {
    padding: 10px;
    font-size: 30px;
  }

  .active {
    border: 2px solid rgb(168, 201, 254);
    background: rgba(168, 201, 254, 0.5);
  }

  .grid_container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgba(168, 201, 254, 0.5);
    margin-right: 2vh;
    margin-left: 2vh;
    margin-bottom: 2vh;

  }

}

@media screen and (min-width: 1000px) {

  /* Navigation */
  header {
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;

  }

  #logo {
    height: 100px;
    width: auto;
    padding-left: 20px;
  }

  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

  .nav_links {
    display: flex;
    flex-direction: row;
    padding-right: 20px;

  }

  .nav_item {
    padding: 10px;
    font-size: 20px;
  }

  .active {
    border: 2px solid rgb(168, 201, 254);
    background: rgba(168, 201, 254, 0.5);
  }

  .grid_container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgba(168, 201, 254, 0.5);
    margin-right: 10vh;
    margin-left: 10vh;
    margin-bottom: 5vh;
  
  }
  
}

@media screen and (min-width: 1200px) {

  /* Navigation */
  header {
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

  }

  #logo {
    height: 100px;
    width: auto;
    padding-left: 20px;
  }

  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

  .nav_links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;

  }

  .nav_item {
    padding: 10px;
  }

  .active {
    border: 2px solid rgb(168, 201, 254);
    background: rgba(168, 201, 254, 0.5);
  }

  .grid_container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgba(168, 201, 254, 0.5);
    margin-right: 30vh;
    margin-left: 30vh;
    margin-bottom: 10vh;
  
  }
  
}

.grid-item{
  border: 2px solid rgb(0, 45, 117);
  padding: 20px;
  font-size: 30px;
  text-align: center;

}

.page_h3{
  font-family: "Lato";
  margin:20px;
  font-size:1.5em;
  font-weight:700;
  text-align: center;
}

.grid_p {
  font-family: "Lato";
  font-size: 20px;
  padding-bottom: 10px;
}

/* Parallax */

.parallax {
   /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax_container {
  height:auto;
  background-color: rgba(168, 201, 254, 0.5);
  padding: 25px;
  text-align: center;
  font-family: Lato;
}

.parallax_title {
  font-size:25px;
}

.parallax_text {
  font-size: 20px;
  padding: 20px;

}

/* Resume Card */

@media screen and (min-width: 600px) {
  .resume_container {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
  }
  
}

@media screen and (min-width: 1000px) {
  .resume_container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
  }
  
}

.resume_item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;

  margin-left: auto;
  margin-right: auto;
}

.resume_h1 {
  font-family: Lato;
  text-align: center;
  font-size: 30px;
  padding: 5px;
}

.resume_p {
  font-family: Lato;
  text-align: center;
  font-size: 20px;
  padding: 15px;
}

.flip_card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip_card_inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(168, 201, 254, 0.5);
}

.flip_card:hover .flip_card_inner {
  transform: rotateY(180deg);
}

.flip_card_front, .flip_card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip_card_front {
  background-color: #bbb;
  color: black;
}

.flip_card_back {
  background-color: rgba(168, 201, 254, 0.5);
  color: black;
  transform: rotateY(180deg);
}

/* Footer CSS */
footer {
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
}