@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');

a.skip {
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

a.skip:focus {
    top: 20px;
    color: black;
    text-decoration-style: solid;
}

*.focus {
    border: 2px solid black;
}


body {
    margin: 0;
    padding: 0;
    font-size: 16px; 
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;

}


header {
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

#logo {
    height: 100px;
    width: auto;
    padding-left: 20px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav_links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;

}

.nav_item {
    padding: 10px;
}

.active {
    border: 2px solid rgb(168, 201, 254);
    background: rgba(168, 201, 254, 0.5);
}


  
.page_title {
    text-align: center;
	font: 50px Lato, Sans-Serif;
	color: rgb(168, 201, 254); 
	letter-spacing: -5px;
    
}

.resume {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*Card*/

.center
{
  padding-top: 50px;
  height:400px;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}

/* End Non-Essential  */

.property-card
{
  height:18em;
  width:300px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  position:relative;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:16px;
  overflow:hidden;
  -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}

/* Top Half of card, image. */

.property-image
{
  height:6em;
  width:100%;
  padding:1em 2em;
  position:Absolute;
  top:0px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-size:cover;
  background-position:left;
  background-repeat:no-repeat;
}

/* Bottom Card Section */

.card_h2
{
  font-family: "Lato";
  margin:20px;
  font-size:1.4em;
  font-weight:700;
}

.card_p
{
  font-family: "Lato";
  font-size:18px;
}

.property-description
{
  background-color: #FAFAFC;
  height:12em;
  width:90%;
  position:absolute;
  bottom:0em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align:center;
  flex-wrap: wrap;
}

/* Property Cards Hover States */

.property-card:hover .property-description
{
  height:0em;
  padding:0px 1em;
}
.property-card:hover .property-image
{
  height:18em;
}

.property-card:hover .property-social-icons
{
  background-color:white;
}

.property-card:hover .property-social-icons:hover
{
  background-color:blue;
  cursor:pointer;
}

footer {
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
}